{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<h1>Login</h1>
    {% if error %}

    <div class="alert alert-danger">
        {{ error.message }}
    </div>


    {% endif %}
    {{ form_start(formView) }}

    {{ form_widget(formView) }}

    <button class="submit btn btn-success">Login</button>
    {{ form_end(formView) }}
{% endblock %}
