{% extends "base.html.twig" %}
{% block title %}
    Create Category
{% endblock %}
{% block body %}
    <h1>Create category</h1>
    {{ form_start(formView) }}
    {{ form_errors(formView) }}
    <div class="row">
        <div class="col">
            {{ form_row(formView.name) }}
        </div>
    </div>

    <button class="submit btn btn-primary">
        <i class="fas fa-save">
            Add category
        </i>
    </button>
    {{ form_end(formView) }}
{% endblock %}
