{% extends "base.html.twig" %}

{% block title %}
    List of years for
{% endblock %}

{% block body %}


   <h2>List of years for make: {{ model.name}}</h2>

    {% for y in modelYear  %}
        <p><a href="#">{{ y.year }}</a></p>
    {% endfor %}

{% endblock %}
