{% extends "base.html.twig" %}
{% block title %}
    Search
{% endblock %}
{% block body %}

{#<h2>Part Please for {{ model }}</h2>#}
    {{ form_start(formView) }}

    {{ form_widget(formView) }}
    <button class="btn submit btn-success">
        Search
    </button>
    {{ form_end(formView) }}

{% endblock %}
