{% extends "base.html.twig" %}
{% block title %}
    List of Parts
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for p in product %}
                <div class="col-4">
                    {% include "product/_product_card.html.twig" %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
