{% extends "base.html.twig" %}
{% block title %}
    List of Make
{% endblock %}
{% block body %}
    <h2>List of Make</h2>
    {% for  m in make  %}

        <p><a href="{{ path('model_list',{'slug':m.slug}) }}">{{ m.name }}</a></p>

    {% endfor %}
{% endblock %}
