{% extends "base.html.twig" %}
{% block title %}
    Home
{% endblock %}

{% block body %}
    <h1>Our heading products</h1>
    <div class="row">
        {% for p in products %}
            <div class="col">
                <div class="card">
                    {% include "product/_product_card.html.twig" %}
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
    <h2>Fast delivery, Premium Products</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum et expedita iure numquam? Amet, esse.</p>

    <div class="row">
        {% include"shared/_ensurence.html.twig"  with{
            'color':'primary',
            'icon':'fas fa-truck',
            'text' :'Fast delivery'
        }
        %}
        {% include"shared/_ensurence.html.twig"  with{
            'color':'success',
            'icon':'fas fa-check',
            'text' :'Verified products'
        }
        %}
        {% include"shared/_ensurence.html.twig"  with{
            'color':'warning',
            'icon':'fas fa-lock',
            'text' :'Secure payement'
        }
        %}
    </div>
    <hr>

{% endblock %}

