{% extends "base.html.twig" %}
{% block title %}
    Home
{% endblock %}

{% block body %}
    <h1>Our heading products</h1>
    <div class="row">
        {% for i in 1..3 %}
            <div class="col">
                <div class="card">
                    <img src="https://picsum.photos/200/200" class="img-fluid" alt="Product image">
                    <div class="card-body">
                        <h4 class="card-tittle">Product Title</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium,
                            vitae.</p>
                        <a href="#" class="btn btn-primary btn-sm">Details</a>
                        <a href="#" class="btn btn-success btn-sm">Add</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
    <h2>Fast delivery, Premium Products</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum et expedita iure numquam? Amet, esse.</p>
    <div class="row">
        {% include"shared/_ensurence.html.twig"  with{
            'color':'primary',
            'icone':'fas fa-truck',
            'text' :'Fast delivery'
        }
        %}
        {% include"shared/_ensurence.html.twig"  with{
            'color':'success',
            'icone':'fas fa-check',
            'text' :'Verified products'
        }
        %}
        {% include"shared/_ensurence.html.twig"  with{
            'color':'warning',
            'icone':'fas fa-lock',
            'text' :'Secure payement'
        }
        %}
    </div>
    <hr>

{% endblock %}

